.searchContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.searchInput {
  display: flex;
  flex-direction: row;
}
input {
  margin-top: 20px;
}
.product {
  display: flex;
  margin-top: 10px;
}
.iconSearch {
  margin-top: 30px;
}
