.minicontainerSlika {
  display: flex;
  flex: 1;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 1400px 500px;
}

.izaberiPijacu {
  display: flex;
  justify-content: center;
}
.select {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: end;
  margin-right: 100px;
}
.MuiInputLabel-outlined-css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: azure !important;
}
