.selectContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  flex: 1;
  justify-content: center;
}
.basicSelect2Container {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: end;
}
.basicSelectContainer {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: end;
}
