.components {
  display: flex;
  flex: 1;
}

.header {
  display: flex;
  background-color: #beff95;
  box-shadow: 0px 2px 10px -5px rgba(21, 6, 5, 1);
  justify-content: space-between;

  padding-right: 20px;
}

.MuiButton-containedPrimary {
  background-color: #87ec48 !important;
  color: black !important;
  display: flex !important;
}
h2 {
  color: black;
}

.divButtonLoginSignIn {
  display: flex;
  justify-content: center;
}
